@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-gradient {
    background: radial-gradient(circle, #d3e0a3,transparent);
  }
}

body{
    overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  


  .h1-lineHeight{
    line-height: 70px !important;
  }

  @media (max-width: 768px) {
    .h1-lineHeight{
      line-height: 55px !important;
    }
  }

 